app-funky-buttons {
  width: 100%;
  height: 100%;
  position: relative;

  .funky {
    position: absolute;
  }

  #funky1 {
    left: -15rem;
    top: -5rem;
    height: 3rem;
    width: 3rem;
  }

  #funky2 {
    left: -11rem;
    top: -3rem;
    height: 6rem;
    width: 6rem;
  }

  #funky3 {
    left: -4.5rem;
    top: 1rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  #funky4 {
    left: 18rem;
    top: 2rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  #funky5 {
    left: -13rem;
    top: 4rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  #funky6 {
    left: -3rem;
    top: -5rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  #funky7 {
    left: 2.5rem;
    top: -3rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  #funky8 {
    left: 5rem;
    top: -6rem;
    height: 3rem;
    width: 3rem;
  }

  #funky9 {
    left: 7rem;
    top: -2rem;
    height: 5.5rem;
    width: 5.5rem;
  }

  #funky10 {
    left: 11rem;
    top: -5rem;
    height: 3rem;
    width: 3rem;
  }

  #funky11 {
    left: 16rem;
    top: -5rem;
    height: 6.5rem;
    width: 6.5rem;
  }

  #funky12 {
    left: 13rem;
    top: 1rem;
    height: 3rem;
    width: 3rem;
  }

  #funky13 {
    left: 9rem;
    top: 4rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  #funky14 {
    left: 15rem;
    top: 4.5rem;
    height: 3rem;
    width: 3rem;
  }

  #funky15 {
    z-index: 1;
  }
}
