<div class="app-area" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
  <app-header class="header"></app-header>

  <div class="game-area" fxFlex fxLayoutAlign="center center">
    <app-game-area></app-game-area>
  </div>

  <div class="messages-area" fxLayoutAlign="center start" fxFlex="30">
    <app-message-area ></app-message-area>
  </div>

  <div class="cheater-message">
    <p>Well aren't you a little cheater,</p>
    <p>changing the background color like that.</p>
  </div>
</div>

<app-footer class="footer"></app-footer>
