<div class="game-area">
  @if (showWhiteButton && !whiteButtonClicked) {
    <app-button class="white-button"
                [buttonColor]="colors.WHITE"
                [buttonSize]="sizes.TINNY"
                [isWhite]="true"></app-button>
  }

  @if (screen === screens.SINGLE) {
    <app-single-button [size]="buttonSize"
                       [color]="buttonColor"
                       [animate]="animate"
                       [hidden]="hidden"
    ></app-single-button>
  }

  @if (screen === screens.THREE_BUTTONS) {
    <app-three-buttons [activeIdx]="activeIdx"
                       [threeColors]="threeColors"
    ></app-three-buttons>
  }

  @if (screen === screens.MULTIPLE_BUTTONS) {
    <app-multiple-buttons></app-multiple-buttons>
  }

  @if (screen === screens.EVEN_MORE_BUTTONS) {
    <app-even-more-buttons></app-even-more-buttons>
  }

  @if (screen === screens.FUNKY_BUTTONS) {
    <app-funky-buttons></app-funky-buttons>
  }
</div>
