app-game-area {
  height: inherit;

  .game-area {
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .white-button {
    position: absolute;
    top: 50px;
  }
}
