<div class="column-layout">
  <div class="row-layout">
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
  </div>

  <div class="row-layout">
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
  </div>

  <div class="row-layout">
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize" [active]="true"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
  </div>

  <div class="row-layout">
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
    <app-button [buttonSize]="mediumSize"></app-button>
  </div>
</div>
